@page
@model RegisterModel
@inject UserManager<SiteOwner> _userManager;


<section class="vh-100 bg-secondary">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-4 text-center">
                        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <div class="mb-md-5 mt-md-4 pb-5">

                                <h2 class="fw-bold mb-2 text-uppercase">register</h2>
                                <p class="text-white-50 mb-5">Create a new account.</p>

                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                <div class="form-outline form-white mb-4">
                                    <input asp-for="Input.Email" class="form-control form-control-lg" placeholder="name@example.com" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input asp-for="Input.Password" class="form-control form-control-lg" placeholder="Password" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input asp-for="Input.ConfirmPassword" class="form-control form-control-lg" placeholder="Password" />
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>


                                <button id="registerSubmit" class="btn btn-outline-light btn-lg px-5" type="submit">Register</button>
                            </div>
                        </form>





                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
