<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sam Phal Portraits</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Phlog.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Allura&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm mt-3">
            <div class="container justify-content-center">
                <a class="text-white text-decoration-none" style="font-size:75px; font-family: 'Allura', cursive; opacity: 1; letter-spacing:2px;" asp-controller="posts" asp-action="Index">Sam Phal</a>
            </div>
        </nav>
    </header>
    <div class="text-center mb-4 nav-menu opacity-75">
        <a href="/" class="text-decoration-none text-uppercase text-white me-5">all</a>
        <a href="~/?s=portrait" class="text-decoration-none text-uppercase text-white me-5">portrait</a>
        <a href="~/?s=cosplay" class="text-decoration-none text-uppercase text-white me-5">cosplay</a>
        <a href="~/contactme" class="text-decoration-none text-uppercase text-white">contact</a>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="text-secondary opacity-50">
        <div class="container">
            &copy; @DateTime.Now.Year.ToString() - Sam Phal
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/infinite-scroll@4/dist/infinite-scroll.pkgd.min.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
