@using Microsoft.EntityFrameworkCore;
@using Phlog.Data;
@inject ApplicationDbContext _context;
<!DOCTYPE html>
<html lang="en">
<head>
    @{
        var siteSettings = await _context.SiteSettings.FirstOrDefaultAsync();
    }
    <!-- Site Settings -->
    <title>@siteSettings.SiteName</title>
    <meta name="description" content="@siteSettings.SiteDescription">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Phlog.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Allura&display=swap" rel="stylesheet">
</head>
<body>



@RenderBody()


<footer class="text-secondary opacity-50">
    <div class="container">
        &copy; @DateTime.Now.Year.ToString() - Sam Phal
    </div>
</footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/masonry.pkgd.min.js"></script>


    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
