
<div class="text-center mb-4 nav-menu opacity-75">
    <a href="/" class="text-decoration-none text-uppercase text-white me-5">all</a>



    <a href="~/contactme" class="text-decoration-none text-uppercase text-white">contact</a>
</div>