<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm mt-3">
        <div class="container justify-content-center">
            <a class="text-white text-decoration-none" style="font-size:75px; font-family: 'Allura', cursive; opacity: 1; letter-spacing:2px;" asp-controller="posts" asp-action="Index">Sam Phal</a>
        </div>
    </nav>
</header>